$black: hsl(0, 2%, 12%);
$scheme-main: $black;
$scheme-main-bis: $black;
$scheme-main-ter: $black;
$scheme-invert: hsl(0, 0%, 100%);
$scheme-invert-bis: hsl(0, 0%, 100%);
$scheme-invert-ter: hsl(0, 0%, 100%);
@import "./../../node_modules/bulma/bulma.sass";
@font-face {
  font-family: Roboto;
  src: url("./../fonts/Roboto-Regular.ttf") format("truetype");
}
html,
body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}




@import "./scale_display.scss";
@import "./guitar.scss";
@import "./fretboard_controls.scss";
@import "./header.scss";
@import "./play-live.scss";