
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.fretboard {
  border: 4px solid #ccc;
  white-space: nowrap;
  &__string {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
  }
  &__head {
    width: 30px;
    display: inline-block;
    height: 35px;
    border-right: 2px solid #ccc;
    position: relative;
    background: #555;
  }
  &__tuning-machine {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #888;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  &__fret {
    height: 35px;
    width: 80px;
    display: inline-block;
    border-right: 3px solid #000;
    position: relative;
    background: rgb(85, 52, 52);
    
  }
  &__fret-string {
    height: 2px;
    position: absolute;
    background: #f1f1f1;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .note {
    position: absolute;
    left: 50%;
    top: 50%;
    
    transform: translate(-50%,-50%);
    display: none;
    &.show {
      display: block;
    }
  }
}

.note {
  position: relative;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background:rgba(0,0,0,.5);
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  font-size: 10pt;
  
  cursor: pointer;
  
  &.playing {
    box-shadow: 0 0 6px #fff;
  }
}
.note__scale-num {
  position: absolute;
  right: -3px;
  bottom: -8px;
  font-size: 8pt;
}

.scale-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 5px;
  background: #553434;
  .scale-display__notes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .note {
    margin: 0 5px;
  }
}